<configuration>
    <!-- Load AWS properties from application.properties -->
    <springProperty name="awsRegion" source="aws.region" defaultValue="eu-east-1"/>
    <springProperty name="awsProfile" source="aws.profile" defaultValue="default"/>
    <springProperty name="cloudwatchLogGroup" source="aws.cloudwatch.log-group" defaultValue="wdyt-test"/>
    <springProperty name="cloudwatchLogStream" source="aws.cloudwatch.log-stream" defaultValue="wdyt-test"/>

    <!-- CloudWatch Appender -->
    <appender name="CLOUDWATCH" class="ai.holo.wdyt.config.logging.CloudWatchLogAppender">
        <region>${awsRegion}</region>
        <awsProfile>${awsProfile}</awsProfile>
        <logGroupName>${cloudwatchLogGroup}</logGroupName>
        <logStreamName>${cloudwatchLogStream}</logStreamName>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </layout>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Profile-specific configuration -->
    <springProfile name="dev,default">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="test,production">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CLOUDWATCH"/>
        </root>
    </springProfile>
</configuration>
