<configuration>
    <appender name="CLOUDWATCH" class="com.j256.cloudwatchlogbackappender.CloudWatchAppender">
        <region>us-east-1</region>
        <logStream>-wdyt-log-stream</logStream>
        <logGroup>wdyt-logs</logGroup>
        <layout>
            <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="CLOUDWATCH" />
    </root>
</configuration>